<!DOCTYPE HTML>
<html>
	<head>
	<title>Archive</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="shortcut icon" type="image/x-icon" href="../../../uploads/archivelogo.png">


	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu"  style="background-color:rgb(248, 250, 252)">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
								<img src="../../uploads/archivelog.png" alt="Login Illustration" class="login-illustration" style="height: 85px;">
							</div>
						<div class="col-sm-5 col-md-3">
							<form action="javascript:void(0)" class="search-wrap" id="searchForm">
								<div class="form-group">
								  <input type="search" id="searchInput" class="form-control search" placeholder="Search" autocomplete="off">
								  <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
								</div>
							  </form>
							  <div id="searchResults" class="search-results"></div>
							  
			         </div>
		         </div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li class="active"><a href="/">Home</a></li>
								<li class="has-dropdown">
									<a href="/shop">Shop</a>
									
								</li>
								<li><a href="/">About</a></li>
								<li><a href="/">Contact</a></li>
								

								<li class="cart"><a href="/cart"><i class="icon-shopping-cart"></i> Cart</a></li>
								<li class="cart"><a href="/wishlist"><i class="bi bi-heart"></i> Wishlist</a></li>
                                <li class="cart"><a href="/signup">Sign up</a></li>
                                <li class="cart"><a href="/login">Log in</a></li>
								<li class="has-dropdown">
									<a href="/userProfile">User Profile</a>
									<ul class="dropdown">
										<li><a href="/userProfile">View profile</a></li>
										<li><a href="/logout">Log out</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>