<%- include("../../views/partials/admin/header") %>
<div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
    <div class="card" style="width: 800px;">
      <div class="card-header">
        <h5 class="mb-0">Your Orders</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" >
            <thead>
              <tr>
                <th>Order Id</th>
                <th>Product</th>
                <th>Status</th>
                <th>Total</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>

                
                

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>