<%- include("../../views/partials/user/header") %>
<style>
    .error-message{
        color: red;
    }
</style>
<section class="content-main m-5">
   <div class="card mx-auto card-login col-4">
       <div class="card-body">
           <h4 class="card-title mb-4">New Password</h4>


           <form id="changePasswordForm" method="POST" action="/newPassword" onsubmit="return validateLoginForm()">

            <input class="form-control mb-2" type="password" name="newPassword" placeholder="New Password" id="newPassword">
            <div class="error-message" id="newPass-error"></div>

            <input class="form-control mb-2" type="password" name="confirmPassword" placeholder="Confirm New Password" id="confirmPass">
            <div class="error-message" id="confirmPass-error"></div>

            <button type="submit"  class="btn btn-primary w-100">Change Password</button>
          </form>
          
         
          
       </div>
   </div>
</section>
<script>
    function validateLoginForm() {
        const newPasswordInput = document.getElementById('newPassword');
        const confirmPassInput = document.getElementById('confirmPass');
    
        const newPassError = document.getElementById('newPass-error');
        const confirmPassError = document.getElementById('confirmPass-error');
    
        newPassError.textContent = "";
        confirmPassError.textContent = "";
    
        const passVal = newPasswordInput.value.trim();
        const cPassVal = confirmPassInput.value.trim();
        const alpha = /[a-zA-Z]/.test(passVal);
        const num = /\d/.test(passVal);
    
    
        if (passVal.length < 8) {
            newPassError.textContent = "Password should contain at least 8 characters.";
        } else if (!alpha || !num) {
            newPassError.textContent = "Password should contain both letters and numbers.";
        } else if (passVal !== cPassVal) {
            confirmPassError.textContent = "Passwords do not match.";
        } else {
            return true;
        }
    
        return false;
    }
    
</script>
<%- include("../../views/partials/user/footer") %>

