 <div class="py-6 px-6 text-center">
        </div>
      </div>
    </div>
  </div>
  <script src="/assets copy/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets copy/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets copy/js/sidebarmenu.js"></script>
  <script src="/assets copy/js/app.min.js"></script>
  <script src="/assets copy/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/assets copy/libs/simplebar/dist/simplebar.js"></script>
  <script src="/assets copy/js/dashboard.js"></script>
</body>

</html>